* {
  box-sizing: border-box;
}
main {
  display: grid;
}


section {
  position: relative;
  margin: auto;
  width: 80%;
}
.slide {
  display: none;
}
.cursor {
  cursor: pointer;
}

img {
  width: 100%;
  height: 500px;
}
td>img{
  height: 150px;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slideNum {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.demo {
  opacity: 0.6;
}

.activee,
.demo:hover {
  opacity: 1;
}
@media (min-width:1000px){
  section{
    margin: auto;
    width: 70%;
  }
  img{
    height: 500px;
  }
  table{
    width: 70%;
    margin: auto;
  }
}
@media (min-width:1500px){
  section{
    margin: auto;
    width: 70%;
    
  }
  img{
    height: 700px;
  }
}
@media (max-width:600px){
  section{
    width: 100%;
  }
  img{
    height: 300px;
  }
  td>img{
    height: 80px;
  }
}
@media (max-width:800px){
  img{
    height: 350px;
  }
}
@media (max-width:350px){
  img{
    height: 350px;
  }
}